Repository AY2122S1-CS2103-F09-3/tp, pull requests merged in 2021-11, with the labels that each got.

#378 Upload bug fixes for #330 and #342
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/main/java/seedu/programmer/model/student/UniqueStudentList.java
  src/main/java/seedu/programmer/model/student/exceptions/DuplicateStudentException.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/test/data/FileManagerTest/duplicateStudentsPE.csv
Labels: priority.High, type.Bug

#377 UG: Fix PE-D issues and update images used
  docs/UserGuide.md
  docs/images/Ui1_v1.3b.png
  docs/images/Ui_v1.4.png
  docs/images/addStudent.png
  docs/images/commands/FilterCommand/filter.png
  docs/images/commands/UndoCommand/UndoRedoState0.png
  docs/images/commands/UndoCommand/UndoRedoState1.png
  docs/images/commands/UndoCommand/UndoRedoState2.png
  docs/images/commands/UndoCommand/UndoRedoState3.png
  docs/images/commands/UndoCommand/UndoRedoState4.png
  docs/images/commands/UndoCommand/UndoRedoState5.png
  docs/images/commands/UndoCommand/UndoSequenceDiagram.png
Labels: type.docs

#381 Fix #304
  src/main/java/seedu/programmer/MainApp.java
Labels: type.Bug

#382 Refractor double to integer for lab scores
  src/main/java/seedu/programmer/logic/commands/EditCommand.java
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
  src/main/java/seedu/programmer/logic/parser/AddLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/EditCommandParser.java
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/model/util/SampleDataUtil.java
  src/main/java/seedu/programmer/ui/LabResultCard.java
  src/test/java/seedu/programmer/logic/commands/AddLabCommandTest.java
  src/test/java/seedu/programmer/logic/commands/CommandTestUtil.java
  src/test/java/seedu/programmer/logic/commands/EditLabCommandTest.java
  src/test/java/seedu/programmer/testutil/LabBuilder.java
  src/test/java/seedu/programmer/testutil/TypicalLabs.java
Labels: type.Refactoring

#376 Alternative CommandHistory implementation without using custom Exception
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: type.Refactoring

#375 TextField in CommandBox will remain the same whenever invalid keypress detected
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
  src/main/java/seedu/programmer/ui/exceptions/CommandHistoryException.java
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: type.Bug

#385 Update UG for filter command
  docs/UserGuide.md
Labels: type.docs

#383 Draft PPP [Allard]
  docs/team/allardquek.md
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/Dashboard.css
  src/main/resources/view/DashboardWindow.fxml
Labels: type.docs

#394 Shortern PPP
  docs/team/allardquek.md
Labels: type.docs

#387 Fix bug when there are no proper error message feedback
  src/main/java/seedu/programmer/commons/core/Messages.java
  src/main/java/seedu/programmer/logic/commands/AddLabCommand.java
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
  src/main/java/seedu/programmer/logic/parser/EditCommandParser.java
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/model/student/Lab.java
  src/test/java/seedu/programmer/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/programmer/logic/parser/EditLabCommandParserTest.java
Labels: type.Bug

#395 Reduce heading size
  docs/team/allardquek.md
Labels: type.docs

#396 Add hyperlink
  docs/team/allardquek.md
Labels: type.docs

#397 Change phrasing
  docs/team/allardquek.md
Labels: type.docs

#398 Reformat
  docs/team/allardquek.md
Labels: type.docs

#399 Update highlights
  docs/team/allardquek.md
Labels: type.docs

#400 Reformat paragraphs
  docs/team/allardquek.md
Labels: type.docs, hacktoberfest-accepted

#402 Move credits
  docs/team/allardquek.md
Labels: type.docs

#403 Fix #401: Fix feedback to user when decimal input for lab score and lab number
  src/main/java/seedu/programmer/logic/commands/EditCommand.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/model/student/Lab.java
Labels: type.Bug

#391 UI improvements
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/DashboardWindow.java
  src/main/java/seedu/programmer/ui/UiManager.java
  src/main/resources/css/DarkTheme.css
  src/main/resources/css/Dashboard.css
  src/main/resources/css/Extensions.css
  src/main/resources/css/Fonts.css
  src/main/resources/css/HelpWindow.css
  src/main/resources/view/CommandBox.fxml
  src/main/resources/view/DashboardWindow.fxml
  src/main/resources/view/HelpWindow.fxml
  src/main/resources/view/MainWindow.fxml
Labels: type.Enhancement, type.Bug

#392 Fix #390
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/ui/LabResultCard.java
  src/main/java/seedu/programmer/ui/LabResultListPanel.java
Labels: type.Bug

#409 Add styled blocks
  README.md
  docs/UserGuide.md
  docs/images/Ui_v1.4.png
  docs/images/Ui_v1.4_index.png
  docs/index.md
Labels: type.docs

#410 Add warning blocks
  docs/UserGuide.md
Labels: type.docs

#386 Fix #384
  src/main/resources/view/MainWindow.fxml
Labels: type.Bug

#389 Fix #388: off by one bug where wrong command is returned
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: type.Bug

#411 UI improvements
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/resources/css/DarkTheme.css
  src/main/resources/css/Dashboard.css
  src/main/resources/view/CommandBox.fxml
  src/main/resources/view/LabResultCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: type.Enhancement

#413 Improve UI code quality
  src/main/java/seedu/programmer/commons/util/FileUtil.java
  src/main/java/seedu/programmer/commons/util/JsonUtil.java
  src/main/java/seedu/programmer/model/FileManager.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/model/student/UniqueStudentList.java
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
  src/main/java/seedu/programmer/ui/DashboardWindow.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/resources/css/Dashboard.css
  src/main/resources/view/DashboardWindow.fxml
  src/test/data/FileUtilTest/commasWithSpacesPE.csv
  src/test/data/FileUtilTest/duplicateStudentsPE.csv
  src/test/data/FileUtilTest/invalidStudentIdPE.csv
  src/test/data/FileUtilTest/missingClassIdPE.csv
  src/test/data/FileUtilTest/missingHeadersPE.csv
  src/test/data/FileUtilTest/programmerError.csv
  src/test/data/FileUtilTest/swappedColumnNamePE.csv
  src/test/data/FileUtilTest/validPE.csv
  src/test/data/FileUtilTest/wrongColumnOrderPE.csv
  src/test/data/JsonUtilTest/invalidProgrammerError.json
  src/test/data/JsonUtilTest/programmerError.json
  src/test/java/seedu/programmer/commons/util/FileUtilTest.java
  src/test/java/seedu/programmer/commons/util/JsonUtilTest.java
  src/test/java/seedu/programmer/logic/commands/EditCommandTest.java
  src/test/java/seedu/programmer/model/FileManagerTest.java
Labels: type.Refactoring

#416 Fix improperly formatted error messages
  src/main/java/seedu/programmer/commons/core/Messages.java
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/test/java/seedu/programmer/logic/parser/EditLabCommandParserTest.java
Labels: type.Bug

#421 UI refactoring and bug fixes
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/allardquek.md
  docs/team/zhaopeiduo.md
  src/main/java/seedu/programmer/logic/Logic.java
  src/main/java/seedu/programmer/logic/LogicManager.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/resources/css/DarkTheme.css
  src/main/resources/css/Extensions.css
  src/main/resources/view/Styles.css
  src/test/data/FileUtilTest/emptyPE.csv
Labels: type.Bug

#431 Fix #406: Wrap the whole UI in a scrollPane
  src/main/resources/view/MainWindow.fxml
Labels: type.Bug

#434 [PPP] Draft: shermannws
  docs/AboutUs.md
  docs/team/shermannws.md
  src/main/java/seedu/programmer/logic/parser/ArgumentTokenizer.java
Labels: type.docs

#433 Modify tests
  src/main/java/seedu/programmer/logic/commands/EditCommand.java
  src/main/java/seedu/programmer/logic/commands/EditCommandResult.java
  src/main/java/seedu/programmer/logic/commands/UploadCommand.java
  src/main/java/seedu/programmer/logic/commands/UploadCommandResult.java
  src/main/java/seedu/programmer/logic/parser/AddCommandParser.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/test/java/seedu/programmer/commons/util/JsonUtilTest.java
  src/test/java/seedu/programmer/logic/commands/UploadCommandResultTest.java
  src/test/java/seedu/programmer/logic/commands/UploadCommandTest.java
  src/test/java/seedu/programmer/model/student/StudentTest.java
  src/test/java/seedu/programmer/testutil/LabBuilder.java
Labels: type.Testing

#439 Refactor parse method
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/test/java/seedu/programmer/logic/commands/EditCommandTest.java
  src/test/java/seedu/programmer/logic/parser/EditLabCommandParserTest.java
Labels: type.Refactoring

#446 Code quality
  docs/UserGuide.md
  src/main/java/seedu/programmer/logic/Logic.java
  src/main/java/seedu/programmer/logic/commands/DeleteLabCommand.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/model/Model.java
  src/main/java/seedu/programmer/model/ModelManager.java
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/model/student/UniqueStudentList.java
  src/main/java/seedu/programmer/model/student/comparator/SortByLabNumber.java
  src/main/java/seedu/programmer/model/util/SampleDataUtil.java
  src/main/java/seedu/programmer/storage/JsonAdaptedLab.java
  src/test/java/seedu/programmer/logic/commands/AddCommandTest.java
  src/test/java/seedu/programmer/logic/commands/DeleteLabCommandTest.java
  src/test/java/seedu/programmer/model/student/ClassIdTest.java
  src/test/java/seedu/programmer/model/student/comparator/SortClassIdTest.java
  src/test/java/seedu/programmer/testutil/TypicalClasses.java
  src/test/java/seedu/programmer/testutil/TypicalLabs.java
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: priority.Medium, type.Bug

#452 Fix #451
  src/main/java/seedu/programmer/logic/commands/AddLabCommand.java
  src/main/java/seedu/programmer/logic/commands/DeleteLabCommand.java
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
  src/main/java/seedu/programmer/model/Model.java
  src/main/java/seedu/programmer/model/ModelManager.java
  src/test/java/seedu/programmer/logic/commands/AddCommandTest.java
Labels: type.Bug

#460 Fix #455: JsonAdaptedLab
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/storage/JsonAdaptedLab.java
Labels: type.Refactoring

#461 Erwin - PPP
  docs/AboutUs.md
  docs/team/erwinquek.md
  docs/team/erwinqxy.md
Labels: type.docs

#463 Update docs
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/commands/DashboardCommand/dashboard.png
  docs/images/commands/FilterCommand/filter.png
  docs/images/commands/ShowCommand/show.png
Labels: type.docs

#464 Minor updates
  docs/team/allardquek.md
Labels: type.docs

#465 DG Updates [Allard]
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/diagrams/commands/DownloadActivityDiagram.puml
  docs/diagrams/commands/DownloadSequenceDiagram.puml
  docs/diagrams/commands/DownloadSequenceDiagram1.puml
  docs/images/ArchitectureSequenceDiagram.png
  docs/images/BetterModelClassDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UiClassDiagram.png
  docs/images/commands/DownloadCommand/DownloadActivityDiagram.png
  docs/images/commands/DownloadCommand/DownloadSequenceDiagram.png
  docs/images/commands/DownloadCommand/DownloadSequenceDiagram1.png
Labels: priority.High, type.docs

#476 DG Updates [Allard]
  docs/DeveloperGuide.md
  docs/diagrams/commands/DownloadSequenceDiagram.puml
  docs/images/commands/DownloadCommand/DownloadSequenceDiagram.png
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/resources/css/Button.css
  src/main/resources/css/CommandTextField.css
  src/main/resources/css/DarkTheme.css
  src/main/resources/css/Extensions.css
  src/main/resources/css/ListView.css
  src/main/resources/css/Menu.css
  src/main/resources/css/Popup.css
  src/main/resources/css/Scrollbar.css
  src/main/resources/css/StatusBar.css
  src/main/resources/css/Tags.css
  src/main/resources/view/DashboardWindow.fxml
  src/main/resources/view/MainWindow.fxml
Labels: type.docs, type.Refactoring

#478 Add website icon
  docs/_includes/custom-head.html
Labels: type.docs

#479 Add icons
  docs/_includes/android-chrome-192x192.png
  docs/_includes/android-chrome-512x512.png
  docs/_includes/apple-touch-icon.png
  docs/_includes/browserconfig.xml
  docs/_includes/favicon-16x16.png
  docs/_includes/favicon-32x32.png
  docs/_includes/favicon.ico
  docs/_includes/mstile-150x150.png
  docs/_includes/site.webmanifest
Labels: type.docs

#474 Update DeveloperGuide.md
  docs/DeveloperGuide.md
Labels: type.Bug

#482 Fix TOC links
  docs/DeveloperGuide.md
Labels: type.Bug, type.docs

#483 Bug fix for saving data to json
  src/main/java/seedu/programmer/commons/util/JsonUtil.java
  src/main/java/seedu/programmer/storage/JsonAdaptedLab.java
  src/test/data/FileUtilTest/programmerError.csv
  src/test/java/seedu/programmer/commons/util/JsonUtilTest.java
Labels: type.Bug

#485 Erwin PPP
  docs/DeveloperGuide.md
  docs/team/erwinqxy.md
Labels: type.docs

#486 Update documentation for UG
  docs/UserGuide.md
  docs/team/shermannws.md
Labels: type.docs

#487 Code quality for Commands and CommandResults
  src/main/java/seedu/programmer/logic/commands/DashboardCommand.java
  src/main/java/seedu/programmer/logic/commands/DashboardCommandResult.java
  src/main/java/seedu/programmer/logic/commands/DownloadCommand.java
  src/main/java/seedu/programmer/logic/commands/DownloadCommandResult.java
  src/main/java/seedu/programmer/logic/commands/UploadCommand.java
  src/main/java/seedu/programmer/logic/commands/UploadCommandResult.java
  src/main/java/seedu/programmer/ui/MainWindow.java
Labels: type.docs, type.Refactoring

#495 Refactor code for code quality
  src/main/java/seedu/programmer/logic/commands/DashboardCommand.java
  src/main/java/seedu/programmer/logic/commands/DownloadCommand.java
  src/main/java/seedu/programmer/logic/commands/EditCommand.java
  src/main/java/seedu/programmer/logic/commands/FillCommand.java
  src/main/java/seedu/programmer/logic/commands/PurgeCommand.java
  src/main/java/seedu/programmer/logic/commands/UploadCommand.java
  src/main/java/seedu/programmer/logic/parser/ArgumentTokenizer.java
  src/main/java/seedu/programmer/logic/parser/FilterCommandParser.java
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/main/java/seedu/programmer/model/student/QueryStudentDescriptor.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/model/student/UniqueStudentList.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
Labels: type.Refactoring

#517 Fix bugs in UG (excl diagrams)
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.docs

#509 Refactor test case to remove duplicates in `StudentDetailContainsQueryPredicateTest`
  src/test/java/seedu/programmer/model/student/StudentDetailContainsQueryPredicateTest.java
Labels: type.Refactoring

#520 Add sample file for users to test upload feature
  sample_upload/validDataForUpload.csv
Labels: type.Bug

#496 DG Refinement
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/commands/ShowSequenceDiagram.puml
  docs/diagrams/commands/UndoRedoState0.puml
  docs/diagrams/commands/UndoRedoState1.puml
  docs/diagrams/commands/UndoRedoState2.puml
  docs/diagrams/commands/UndoRedoState3.puml
  docs/diagrams/commands/UndoRedoState4.puml
  docs/diagrams/commands/UndoRedoState5.puml
  docs/diagrams/commands/UndoSequenceDiagram.puml
  docs/images/commands/UndoCommand/UndoRedoState0.png
  docs/images/commands/UndoCommand/UndoRedoState1.png
  docs/images/commands/UndoCommand/UndoRedoState2.png
  docs/images/commands/UndoCommand/UndoRedoState3.png
  docs/images/commands/UndoCommand/UndoRedoState4.png
  docs/images/commands/UndoCommand/UndoRedoState5.png
  docs/images/commands/UndoCommand/UndoSequenceDiagram.png
  docs/team/allardquek.md
  docs/team/erwinqxy.md
  docs/team/reddevil1313.md
  docs/team/zhaopeiduo.md
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/test/java/seedu/programmer/logic/commands/AddCommandTest.java
  src/test/java/seedu/programmer/logic/commands/CommandTestUtil.java
  src/test/java/seedu/programmer/logic/commands/EditLabCommandTest.java
  src/test/java/seedu/programmer/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/programmer/logic/parser/ProgrammerErrorParserTest.java
  src/test/java/seedu/programmer/model/student/UniqueStudentListTest.java
Labels: type.docs

#522 update outdated uml diagram
  docs/DeveloperGuide.md
  docs/diagrams/commands/UndoRedoState4.puml
  docs/images/CommitActivityDiagram.png
  docs/images/commands/UndoCommand/UndoRedoState4.png
  docs/team/erwinqxy.md
Labels: type.docs

#523 [UG] Added parameter constraints to parameter summary
  docs/UserGuide.md
  src/main/java/seedu/programmer/model/student/ClassId.java
  src/main/java/seedu/programmer/model/student/StudentId.java
  src/test/java/seedu/programmer/commons/util/FileUtilTest.java
Labels: type.docs

#521 Add link to sample upload file
  README.md
  docs/UserGuide.md
  docs/images/Ui_v1.4.png
  docs/images/commands/DashboardCommand/dashboard.png
  docs/images/commands/FilterCommand/filter.png
  docs/images/commands/HelpCommand/help.png
  docs/images/commands/HelpCommand/helpMessage.png
  docs/images/commands/ShowCommand/show.png
  docs/index.md
Labels: type.docs

#516 Edit help window syntax
  src/main/java/seedu/programmer/ui/HelpWindow.java
  src/main/resources/css/DarkTheme.css
Labels: type.Bug

#533 DG Refinement - UML Diagrams
  docs/DeveloperGuide.md
  docs/diagrams/commands/AddCommandAbstractSequenceDiagram.puml
  docs/diagrams/commands/AddCommandActivityDiagram.puml
  docs/diagrams/commands/AddCommandSequenceDiagram.puml
  docs/images/LogicClassDiagram.png
  docs/images/ParserClasses.png
  docs/images/commands/AddCommand/AddCommandAbstractSequenceDiagram.png
  docs/images/commands/AddCommand/AddCommandActivityDiagram.png
  docs/images/commands/AddCommand/AddCommandSequenceDiagram.png
  docs/images/commands/DeleteCommand/DeleteCommandSequenceDiagram.png
  docs/images/commands/DeleteCommand/DeleteSequenceDiagram.png
  docs/team/erwinqxy.md
Labels: type.docs

#534 Updated Ui diagrams to represent refactored implementation
  docs/DeveloperGuide.md
  docs/diagrams/style.puml
  docs/diagrams/ui/UiClassDiagram.puml
  docs/diagrams/ui/UiClassDiagramMainComponents.puml
  docs/diagrams/ui/UiClassDiagramOverview.puml
  docs/diagrams/ui/UiOriginalClassDiagram.puml
  docs/images/Ui_v1.3.1.png
  docs/images/Ui_v1.4_index.png
  docs/images/ui/UiClassDiagram.png
  docs/images/ui/UiClassDiagramMainComponents.png
  docs/images/ui/UiClassDiagramOverview.png
Labels: type.docs

#535 [DG] add purge uml diagram
  docs/DeveloperGuide.md
  docs/diagrams/commands/PurgeSequenceDiagram.puml
  docs/images/commands/PurgeCommand/PurgeCommandSequenceDiagram.png
Labels: type.docs

#538 [PPP] fix docs header
  docs/team/allardquek.md
  docs/team/erwinqxy.md
Labels: type.docs

#539 Add figure labels
  docs/DeveloperGuide.md
Labels: type.docs

#546 Fix #545
  docs/diagrams/commands/AddCommandActivityDiagram.puml
  docs/images/commands/AddCommand/AddCommandActivityDiagram.png
  docs/team/erwinqxy.md
Labels: type.docs

#549 Refactor documentation to achieve improved quality
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/commands/AddCommandActivityDiagram.puml
  docs/diagrams/commands/FilterCommandActivityDiagram.puml
  docs/diagrams/commands/FilterSequenceDiagram2.puml
  docs/diagrams/commands/FilterSequenceDiagram3.puml
  docs/images/ModelClassDiagram.png
  docs/images/commands/FilterCommand/FilterActivityDiagram.png
  docs/images/commands/FilterCommand/FilterSequenceDiagramExecute.png
  docs/images/commands/FilterCommand/FilterSequenceDiagramParse.png
  docs/images/commands/FilterCommand/filter.png
Labels: type.docs

#555 Clear todos
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/test/java/seedu/programmer/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/programmer/model/student/UniqueStudentListTest.java
  src/test/java/seedu/programmer/storage/JsonSerializableProgrammerErrorTest.java
  src/test/java/seedu/programmer/storage/StorageManagerTest.java
Labels: type.Refactoring

#550 Clear any student shown on upload
  src/main/java/seedu/programmer/ui/MainWindow.java
Labels: priority.High, type.Bug

#557 [DG] Effort section
  docs/DeveloperGuide.md
Labels: type.docs

#568 Fix typos
  src/main/java/seedu/programmer/ui/HelpWindow.java
Labels: type.Bug

#569 Use full instead of filtered list
  src/main/java/seedu/programmer/logic/Logic.java
  src/main/java/seedu/programmer/logic/LogicManager.java
  src/main/java/seedu/programmer/ui/DashboardWindow.java
Labels: type.Bug

#567 [DG] update toc
  docs/DeveloperGuide.md
Labels: type.docs

#576 Enhance clarity in DG for FilterCommand
  docs/DeveloperGuide.md
Labels: type.docs

#566 Fix editlab issue in #558
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
Labels: type.Bug

#578 Update upload docs
  docs/UserGuide.md
Labels: type.docs

#580 Reorder UG
  docs/UserGuide.md
Labels: type.Bug, type.docs

#581 [PPP] Update for shermannws
  docs/team/reddevil1313.md
  docs/team/shermannws.md
Labels: type.docs

#584 Minor change: Add CSV to glossary
  docs/UserGuide.md
Labels: type.docs

#586 Fix DG EditLab
  docs/DeveloperGuide.md
Labels: type.docs

#579 Additional Test Cases for EditCommandParser
  src/main/java/seedu/programmer/model/student/Lab.java
  src/test/java/seedu/programmer/logic/commands/CommandTestUtil.java
  src/test/java/seedu/programmer/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/programmer/storage/JsonProgrammerErrorStorageTest.java
  src/test/java/seedu/programmer/testutil/EditStudentDescriptorBuilder.java
Labels: type.Testing

#582 Add use cases and manual testing instructions
  docs/DeveloperGuide.md
Labels: type.docs

#590 [PPP] Fix style in PPP (shermannws)
  docs/team/shermannws.md
Labels: type.docs

#592 Fix links
  docs/DeveloperGuide.md
Labels: type.docs

#593 [UG] Fix error in UG
  docs/UserGuide.md
Labels: type.docs

#596 Dg vetting
  docs/DeveloperGuide.md
Labels: type.docs

#598 [DG] Add Use Case for filtering
  docs/DeveloperGuide.md
Labels: type.docs

#602 Update ppp
  docs/team/allardquek.md
Labels: type.docs

#603 [DG] Label all figures in DG
  docs/DeveloperGuide.md
  docs/diagrams/commands/UndoRedoState5.puml
  docs/images/commands/UndoCommand/UndoRedoState5.png
Labels: type.docs

#604 Follow coding standards
  src/main/java/seedu/programmer/commons/util/FileUtil.java
  src/main/java/seedu/programmer/commons/util/JsonUtil.java
  src/main/java/seedu/programmer/logic/commands/DashboardCommandResult.java
  src/main/java/seedu/programmer/logic/commands/DownloadCommand.java
  src/main/java/seedu/programmer/logic/commands/DownloadCommandResult.java
  src/main/java/seedu/programmer/logic/commands/ExitCommandResult.java
  src/main/java/seedu/programmer/logic/commands/UploadCommand.java
  src/main/java/seedu/programmer/logic/commands/UploadCommandResult.java
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/FilterCommandParser.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/logic/parser/ProgrammerErrorParser.java
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/ui/CommandBox.java
  src/main/java/seedu/programmer/ui/DashboardWindow.java
  src/main/java/seedu/programmer/ui/FileManager.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/java/seedu/programmer/ui/PopupManager.java
  src/main/java/seedu/programmer/ui/PopupWindow.java
Labels: type.docs

#613 [DG] center images
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.High, type.docs

#615 [DG, UG] scale images
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.High, type.docs

#618 [DG, UG] minor formatting
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.docs

#620 Update dashboard ug
  docs/UserGuide.md
Labels: type.docs

#622 Improve code quality throughout the entire code base
  src/main/java/seedu/programmer/commons/core/Config.java
  src/main/java/seedu/programmer/commons/exceptions/DataConversionException.java
  src/main/java/seedu/programmer/commons/exceptions/IllegalValueException.java
  src/main/java/seedu/programmer/commons/util/CollectionUtil.java
  src/main/java/seedu/programmer/commons/util/FileUtil.java
  src/main/java/seedu/programmer/commons/util/JsonUtil.java
  src/main/java/seedu/programmer/commons/util/StringUtil.java
  src/main/java/seedu/programmer/logic/Logic.java
  src/main/java/seedu/programmer/logic/LogicManager.java
  src/main/java/seedu/programmer/logic/commands/AddCommand.java
  src/main/java/seedu/programmer/logic/commands/AddLabCommand.java
  src/main/java/seedu/programmer/logic/commands/CommandResult.java
  src/main/java/seedu/programmer/logic/commands/DashboardCommand.java
  src/main/java/seedu/programmer/logic/commands/DeleteLabCommand.java
  src/main/java/seedu/programmer/logic/commands/EditCommand.java
  src/main/java/seedu/programmer/logic/commands/EditLabCommand.java
  src/main/java/seedu/programmer/logic/commands/ExitCommandResult.java
  src/main/java/seedu/programmer/logic/commands/FillCommand.java
  src/main/java/seedu/programmer/logic/commands/FilterCommand.java
  src/main/java/seedu/programmer/logic/commands/HelpCommand.java
  src/main/java/seedu/programmer/logic/commands/ShowCommand.java
  src/main/java/seedu/programmer/logic/commands/ShowCommandResult.java
  src/main/java/seedu/programmer/logic/commands/UploadCommandResult.java
  src/main/java/seedu/programmer/logic/parser/AddCommandParser.java
  src/main/java/seedu/programmer/logic/parser/AddLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/ArgumentMultimap.java
  src/main/java/seedu/programmer/logic/parser/ArgumentTokenizer.java
  src/main/java/seedu/programmer/logic/parser/DeleteCommandParser.java
  src/main/java/seedu/programmer/logic/parser/DeleteLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/EditCommandParser.java
  src/main/java/seedu/programmer/logic/parser/EditLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/FilterCommandParser.java
  src/main/java/seedu/programmer/logic/parser/ParserUtil.java
  src/main/java/seedu/programmer/logic/parser/ProgrammerErrorParser.java
  src/main/java/seedu/programmer/logic/parser/ShowCommandParser.java
  src/main/java/seedu/programmer/model/ModelManager.java
  src/main/java/seedu/programmer/model/ProgrammerError.java
  src/main/java/seedu/programmer/model/student/ClassId.java
  src/main/java/seedu/programmer/model/student/DisplayableObject.java
  src/main/java/seedu/programmer/model/student/Email.java
  src/main/java/seedu/programmer/model/student/Lab.java
  src/main/java/seedu/programmer/model/student/LabNum.java
  src/main/java/seedu/programmer/model/student/LabResult.java
  src/main/java/seedu/programmer/model/student/LabTotal.java
  src/main/java/seedu/programmer/model/student/Name.java
  src/main/java/seedu/programmer/model/student/QueryStudentDescriptor.java
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/model/student/StudentDetailContainsQueryPredicate.java
  src/main/java/seedu/programmer/model/student/StudentId.java
  src/main/java/seedu/programmer/model/util/SampleDataUtil.java
  src/main/java/seedu/programmer/ui/CommandHistory.java
  src/main/java/seedu/programmer/ui/DashboardWindow.java
  src/main/java/seedu/programmer/ui/HelpWindow.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/java/seedu/programmer/ui/PopupManager.java
  src/main/java/seedu/programmer/ui/StudentCard.java
  src/main/java/seedu/programmer/ui/Ui.java
  src/main/java/seedu/programmer/ui/UiPart.java
Labels: type.Refactoring

#624 Fix `Download` error when no file is found
  src/main/java/seedu/programmer/commons/util/JsonUtil.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/test/java/seedu/programmer/commons/util/JsonUtilTest.java
Labels: type.Bug

#625 Refactor Ui file structure
  src/main/java/seedu/programmer/model/student/Student.java
  src/main/java/seedu/programmer/ui/MainWindow.java
  src/main/java/seedu/programmer/ui/components/CommandBox.java
  src/main/java/seedu/programmer/ui/components/CommandHistory.java
  src/main/java/seedu/programmer/ui/components/LabResultCard.java
  src/main/java/seedu/programmer/ui/components/LabResultListPanel.java
  src/main/java/seedu/programmer/ui/components/ResultDisplay.java
  src/main/java/seedu/programmer/ui/components/StatusBarFooter.java
  src/main/java/seedu/programmer/ui/components/StudentCard.java
  src/main/java/seedu/programmer/ui/components/StudentListPanel.java
  src/main/java/seedu/programmer/ui/managers/FileManager.java
  src/main/java/seedu/programmer/ui/managers/PopupManager.java
  src/main/java/seedu/programmer/ui/windows/DashboardWindow.java
  src/main/java/seedu/programmer/ui/windows/HelpWindow.java
  src/main/java/seedu/programmer/ui/windows/PopupWindow.java
  src/test/java/seedu/programmer/ui/CommandHistoryTest.java
Labels: type.Refactoring

#627 Update PPP-shermannws
  docs/team/shermannws.md
Labels: type.docs

#628 [PPP - shermannws] Fix indexing issue in Github pages
  docs/team/shermannws.md
Labels: type.Bug, type.docs

#629 Update PPP
  docs/team/allardquek.md
Labels: type.docs

#621 DG Updates
  docs/DeveloperGuide.md
  docs/diagrams/style.puml
  docs/diagrams/ui/UiClassDiagramOverview.puml
  docs/images/ui/UiClassDiagramOverview.png
  src/main/java/seedu/programmer/ui/MainWindow.java
Labels: type.docs

#630 Erwin PPP - Update Reposense Link
  docs/team/erwinqxy.md
Labels: type.docs

#631 Shorten PPP
  docs/team/allardquek.md
Labels: type.docs

#634 Fix bug 633
  src/main/java/seedu/programmer/logic/parser/AddCommandParser.java
  src/main/java/seedu/programmer/logic/parser/AddLabCommandParser.java
  src/main/java/seedu/programmer/logic/parser/FilterCommandParser.java
  src/test/java/seedu/programmer/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/programmer/logic/parser/AddLabCommandParserTest.java
Labels: type.Bug

#636 [PPP] Fix broken link in PPP
  docs/team/shermannws.md
Labels: type.docs
